.selectPlaylist {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
}

.selectedPlaylist_container {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  position: relative;
}

.musicPlayer_content {
  max-width: 500px;
  overflow: hidden;
  position: relative;
  animation: widthAnimate 2s ease-in-out;
}

@keyframes widthAnimate {
  from {
    width: 100%;
  }
  to {
    width: 100%;
  }
}

.playlist_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: visible;
  width: 600px;
  height: 100%;
}

.confirmButton {
  cursor: pointer;
  background-color: white;
  color: black;
  padding: 0.5rem 1rem;
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 1rem;

  width: fit-content;
  display: flex;
  color: #2e2e2e;
  padding: 0.5rem 1.4rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  gap: 0.75rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: 0.6s ease;
}

.confirmButton:hover {
  background-color: #2e2e2e;
  color: white;
}

.similarityThreshold {
  margin-bottom: 2.4rem;
  animation: fadeIn 1s ease-in-out;
}

.similarityThreshold h4 {
  margin: 0;
  font-weight: 500;
}

.sliderContainer {
  position: relative;
}

.similarityThreshold input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.similarityThreshold input[type="range"]:hover {
  opacity: 1;
}

.similarityThreshold input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}

.thresholdValue {
  font-size: 16px;
  font-family: "IBM Plex Mono";
  text-decoration: underline;
  margin-left: 0.5rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    width: 0%;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .selectPlaylist {
    height: auto;
  }

  .selectedPlaylist_container {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    position: relative;
  }

  .playlist_content {
    width: 100%;
    gap: 0rem;
  }

  .musicPlayer_content {
    margin-top: 2rem;
    max-width: 100%;
  }

  .selectedPlaylist_container {
    display: block;
  }
}

@media screen and (max-width: 500px) {
  .confirmButton {
    width: 100%;
    font-size: 17px;
    justify-content: center;
  }
}
